@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans&display=swap');

:root {
    --primary-color: #FEF6C9;
    --secondary-color: #011638;
    --accent1-color: #0D21A1;
    --accent2-color: #DE2E2B;
    
    --heading-font: 'PTSans', serif;
    --paragraph-font: 'Lato', serif;
    --nav-background-color: #FEF6C9;
    --nav-link-color: #DE2E2B;
    --nav-hover-link-color: #0D21A1;
    --nav-hover-background-color: #FEF6C9
}

header {
    display: flex;
}

.logo {
    border: 1px solid black;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
header nav a {
    border: 1px solid blue;
    background-color: #FEF6C9;
    padding: 5px;
    font-size: 20px;
    margin: 20px;
}

.main div img {
    width: 100%;
    position: absolute
}

.main h1 {
    font-size: 100px;
    color: #FEF6C9;
    font-weight: bold;
    position: relative;
    text-align: center;

}

.hero div {
    position: relative;
}

.hero div h1 {
    position: absolute;
}

.hero div article {
    position: absolute;
}

main section {
    border-bottom: 1px solid black;
}

.adventure {
    display: flex;
    grid-template-columns: repeat(5, 1fr);

}

.plan_trip {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: 
    center;
    align-items: center;
    background-color: #FEF6C9;
    border-top: 1px solid black;
}

button {
    color: #0D21A1;
    background-color: #DE2E2B;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    align-items: center;
    box-shadow: 2px 7px 96px -2px rgba(154, 171, 237, 1);
}

button:hover {
    box-shadow: none;
    cursor: pointer;
}

button i {
    font-size: 30px;
    padding-right: 5px;
}

.trips {
    border-top: 1px solid black;
}

.trips h1 {
    text-align: center;
}
.trips div {
    display: flex;
    height: 400px;

}
.trips figure img {
    height: 200px;
    width: 300px;
    align-content: space-around;
}

.trips figcaption {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right:auto;
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 60px;
}

thead {
    background-color: #FEF6C9;
    color:#0D21A1
}

th, td {
    padding: 1rem;
}

.employees {
    width: 700px;
    display: flex;
}


footer p {
    float: left;
}
.wireframe {
    float: right;
    position: absolute;
    right: 25%;
    order: 1;
 }

 .sociallinks {
    float: right
    
}

/* .home_footer {
    position: absolute;
    bottom: 0
    width: 100%;

} */