* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer, .grid {
  max-width: 840px;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
  width: 10rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
  border-bottom: 1px solid black;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

main {
  
}

aside {
  position: relative;
  text-align: center;
}

aside h2 {
  position: absolute;
  text-align: center;
}

aside img {
  width: 100px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
  float: right;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

/*Class Selectors*/

.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px rgb(0, 0, 0);
  background-color: #FEF6C9;
  color:#011638;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 1.1rem;
}